.card-heading{
    display: flex;
    justify-content: space-between;
    align-items:start
}
.card {
  background:linear-gradient(to right, #192742, #1A2A46, #0F1828);;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  /* max-height: 10vh; */
  color: white;
  display: flex;
  flex-direction: column;
}
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-info{
  padding: 0;
  max-width:60%;
}
.role {
  font-weight: bold;
  font-size: 1.1rem;
}
.date {
  font-size: 0.8rem;
  color: #AFABAB;
}
p{
  margin: 0;
}
.company{
  color:#AFABAB
}
.match{
  font-size: 10px;
  padding: 2px 5px;
  /*border: 1px solid #1D2E4D;
  */border: 1px solid #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.company-logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 4px;
}