.card-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
  background: #2d2f40;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  max-height: 18vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.role {
  font-weight: bold;
  font-size: 1.1rem;
}
.date {
  font-size: 0.8rem;
  color: gray;
}
