.connection-container{
    background-color: #101828;
    text-align: start;
    padding: 52px;
}
.heading{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}
.connection-header{
    display: flex;
    justify-content: space-between;
}
.btn-connection{
display: flex;
gap: 10px;
align-items: center;
color:#fff;
background-color: #8aaef2;
border: 0.5px solid #8aaef2;
padding: 0 20px;
border-radius: 6px;
}
.btn-connection:hover{
color: #fff;
background-color: #8aaef2;
}
.text{
    margin: 10px 0;
    width: 30%;
}