.container{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.dashboard-container{
  background-color: var(--bg);
  color: var(--text);
    min-height: 100vh; 
    text-align: start;
    padding: 2rem;
}
.top-header{
  width: 40%;
  margin: 52px 0;
  font-size: 22px;
}
.top-header p{
  font-size: 18px;
  color: #AFABAB
}
.cards{
    display: flex;
    justify-content: space-between;
}
.section-column {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  width:100%;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.section-header .part{
    display: flex;
    align-items: center;
}
.section-header h3 {
  font-size: 1.1rem;
  margin-left: 10px;
  font-weight: 600;
}

.section-header .count {
  background-color: var(--card-border);
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  height: 20px;
  
}

.plus-btn {
  background-color: var(--card-border);
  color: var(--text);
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-btn:hover { background-color: var(--primary); color: var(--primary-contrast); }
.add{
  background-color: var(--card-border);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  height: 5vh;
  width:100%;
}