.navbar-container{
    background-color: rgb(32, 35, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 10vh;
    color: #fff;
}
.logo-icon{
    width: 20vw;
}
.nav-links{
    display: flex;
    width: 30vw;
    justify-content: space-around;
}
.nav-link{
  position: relative;
  color: rgb(214, 208, 208);
  padding-bottom: 4px;
  transition: color 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.nav-link:hover{
    color:#fff;
}
.nav-link:hover::after {
  width: 100%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
}
.search{
position: relative;
width: 55%;
max-width: 300px;
}
input{
    max-width: 50%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.search-icon{
    position: absolute;
    top:40%;
    left: 13rem;
}