.report-container{
    background-color: #101828;
    text-align: start;
    padding: 52px;
}
.report-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}