@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
  font-family:'Manrope', sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  color-scheme: light;
  --bg: #ffffff;
  --text: #0b1220;
  --muted: #475467;
  --card-bg: #f8fafc;
  --card-border: #e5e7eb;
  --primary: #2f8bff;
  --primary-contrast: #ffffff;
  --danger: #D9480F;
  --accent: #8aaef2;
  color: var(--text);
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  color-scheme: dark;
  --bg: #0b1220;
  --text: rgba(255,255,255,0.92);
  --muted: #9aa4b2;
  --card-bg: #101B2D;
  --card-border: #05315D;
  --primary: #2f8bff;
  --primary-contrast: #ffffff;
  --danger: #D9480F;
  --accent: #8aaef2;
  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* height: 100%; */
  min-height: 100vh;
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}